<footer class="footer">
  <div class="footer__mono">{% include "partials/monogram.njk" %}</div>
  <div class="footer__names">{{ site.couple.short }}</div>
  <div class="footer__meta">{{ site.date.display }} &middot; {{ site.venue.town }}</div>
  <div class="footer__small">
    {{ site.venue.name }} &middot; {{ site.venue.address }}<br>
    We can't wait to celebrate with you.
  </div>
</footer>
